/*
 * Main
 */
body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    transition: all 0.2s ease-in-out 0s;
    font-size: 18px;
}

/* Language */
.language .lang {
    display: none;
}

.language.en .lang.en,
.language.es .lang.es {
    display: revert;
}

/*
 * Titles
 */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 0.875rem;
}

p {
    line-height: 1.5;
    margin: 0;
}

/*
 * Images
 */
img {
    width: 100%;
}

/* 
 * Text utilities
 */
/* Styling */
.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

/* Size */
.font-size-05 {
    font-size: 0.5rem;
}
.font-size-075 {
    font-size: 0.75rem;
}
.font-size-10 {
    font-size: 1rem;
}
.font-size-12 {
    font-size: 1.2rem;
}
.font-size-14 {
    font-size: 1.4rem;
}
.font-size-16 {
    font-size: 1.6rem;
}
.font-size-18 {
    font-size: 1.8rem;
}
.font-size-20 {
    font-size: 2rem;
}
.font-size-22 {
    font-size: 2.2rem;
}
.font-size-24 {
    font-size: 2.4rem;
}
.font-size-26 {
    font-size: 2.6rem;
}
.font-size-28 {
    font-size: 2.8rem;
}
.font-size-30 {
    font-size: 3rem;
}
.font-size-32 {
    font-size: 3.2rem;
}
.font-size-34 {
    font-size: 3.4rem;
}
.font-size-36 {
    font-size: 3.6rem;
}
.font-size-38 {
    font-size: 3.8rem;
}
.font-size-40 {
    font-size: 4.0rem;
}
.font-size-42 {
    font-size: 4.2rem;
}
.font-size-44 {
    font-size: 4.4rem;
}
.font-size-46 {
    font-size: 4.6rem;
}
.font-size-48 {
    font-size: 4.8rem;
}
.font-size-50 {
    font-size: 5rem;
}



/* Alignment */
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-justify {
    text-align: justify;
}

/* 
 * List utilities
 */
ul.no-bullets,
ol.no-bullets {
    list-style: none;
}

ul li,
ol li {
    margin-bottom: 5px;
}

/*
 * Display
 */
.none {
    display: none;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

/*
 * Width
 */
.mw-full {
    width: 100%;
}

/* 
 * Margins 
 */
.mt-0 {
    margin-top: 0px !important;
}
.mt-5 {
    margin-top: 5px !important;
}
.mt-10 {
    margin-top: 10px !important;
}
.mt-15 {
    margin-top: 15px !important;
}
.mt-16 {
    margin-top: 16px !important;
}
.mt-20 {
    margin-top: 20px !important;
}
.mt-24 {
    margin-top: 24px !important;
}
.mt-32 {
    margin-top: 32px !important;
}
.mt-64 {
    margin-top: 64px !important;
}
.mt-48 {
    margin-top: 48px !important;
}
.mt-128 {
    margin-top: 128px !important;
}

.mb-0 {
    margin-bottom: 0px !important;
}
.mb-5 {
    margin-bottom: 5px !important;
}
.mb-10 {
    margin-bottom: 10px !important;
}
.mb-15 {
    margin-bottom: 15px !important;
}
.mb-16 {
    margin-bottom: 16px !important;
}
.mb-20 {
    margin-bottom: 20px !important;
}
.mb-24 {
    margin-bottom: 24px !important;
}
.mb-32 {
    margin-bottom: 32px !important;
}
.mb-64 {
    margin-bottom: 64px !important;
}
.mb-48 {
    margin-bottom: 48px !important;
}
.mb-128 {
    margin-bottom: 128px !important;
}

.ml-0 {
    margin-left: 0px !important;
}
.ml-5 {
    margin-left: 5px !important;
}
.ml-10 {
    margin-left: 10px !important;
}
.ml-15 {
    margin-left: 15px !important;
}
.ml-16 {
    margin-left: 16px !important;
}
.ml-20 {
    margin-left: 20px !important;
}
.ml-24 {
    margin-left: 24px !important;
}
.ml-32 {
    margin-left: 32px !important;
}
.ml-64 {
    margin-left: 64px !important;
}
.ml-48 {
    margin-left: 48px !important;
}
.ml-128 {
    margin-left: 128px !important;
}

.mr-0 {
    margin-right: 0px !important;
}
.mr-5 {
    margin-right: 5px !important;
}
.mr-10 {
    margin-right: 10px !important;
}
.mr-15 {
    margin-right: 15px !important;
}
.mr-16 {
    margin-right: 16px !important;
}
.mr-20 {
    margin-right: 20px !important;
}
.mr-24 {
    margin-right: 24px !important;
}
.mr-32 {
    margin-right: 32px !important;
}
.mr-64 {
    margin-right: 64px !important;
}
.mr-48 {
    margin-right: 48px !important;
}
.mr-128 {
    margin-right: 128px !important;
}

/* Padding */
.pt-0 {
    padding-top: 0px !important;
}
.pt-5 {
    padding-top: 5px !important;
}
.pt-10 {
    padding-top: 10px !important;
}
.pt-15 {
    padding-top: 15px !important;
}
.pt-16 {
    padding-top: 16px !important;
}
.pt-20 {
    padding-top: 20px !important;
}
.pt-24 {
    padding-top: 24px !important;
}
.pt-32 {
    padding-top: 32px !important;
}
.pt-64 {
    padding-top: 64px !important;
}
.pt-48 {
    padding-top: 48px !important;
}
.pt-128 {
    padding-top: 128px !important;
}

.pb-0 {
    padding-bottom: 0px !important;
}
.pb-5 {
    padding-bottom: 5px !important;
}
.pb-10 {
    padding-bottom: 10px !important;
}
.pb-15 {
    padding-bottom: 15px !important;
}
.pb-16 {
    padding-bottom: 16px !important;
}
.pb-20 {
    padding-bottom: 20px !important;
}
.pb-24 {
    padding-bottom: 24px !important;
}
.pb-32 {
    padding-bottom: 32px !important;
}
.pb-64 {
    padding-bottom: 64px !important;
}
.pb-48 {
    padding-bottom: 48px !important;
}
.pb-128 {
    padding-bottom: 128px !important;
}

.pl-0 {
    padding-left: 0px !important;
}
.pl-5 {
    padding-left: 5px !important;
}
.pl-10 {
    padding-left: 10px !important;
}
.pl-15 {
    padding-left: 15px !important;
}
.pl-16 {
    padding-left: 16px !important;
}
.pl-20 {
    padding-left: 20px !important;
}
.pl-24 {
    padding-left: 24px !important;
}
.pl-32 {
    padding-left: 32px !important;
}
.pl-64 {
    padding-left: 64px !important;
}
.pl-48 {
    padding-left: 48px !important;
}
.pl-128 {
    padding-left: 128px !important;
}

.pr-0 {
    padding-right: 0px !important;
}
.pr-5 {
    padding-right: 5px !important;
}
.pr-10 {
    padding-right: 10px !important;
}
.pr-15 {
    padding-right: 15px !important;
}
.pr-16 {
    padding-right: 16px !important;
}
.pr-20 {
    padding-right: 20px !important;
}
.pr-24 {
    padding-right: 24px !important;
}
.pr-32 {
    padding-right: 32px !important;
}
.pr-64 {
    padding-right: 64px !important;
}
.pr-48 {
    padding-right: 48px !important;
}
.pr-128 {
    padding-right: 128px !important;
}

/* Misc */
i.fa,
i.fas,
i.fab,
i.far {
    width: 26px;
    margin-right: 5px;
    text-align: center;
}

div.divider {
    margin: 10px 0;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.5);
}

@media (prefers-color-scheme: dark) {
    div.divider {
        background-color: rgba(255, 255, 255, 0.4);
    }
}
