@import "mixins";
$bgimg: url("../images/header.png");
$bgpos: top center;
$bgsize: cover;
$bgrepeat: no-repeat;

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;

    transition: all .5s ease-in-out;

    color: #000;
    background: rgba(170,170,170,1);
    background:    -moz-linear-gradient(left, rgba(170,170,170,1) 0%, rgba(255,255,255,1) 70%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(170,170,170,1)), color-stop(70%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(left, rgba(170,170,170,1) 0%, rgba(255,255,255,1) 70%);
    background:      -o-linear-gradient(left, rgba(170,170,170,1) 0%, rgba(255,255,255,1) 70%);
    background:     -ms-linear-gradient(left, rgba(170,170,170,1) 0%, rgba(255,255,255,1) 70%);
    background:         linear-gradient(to right, rgba(170,170,170,1) 0%, rgba(255,255,255,1) 70%);
}

/*
    HEADER
        Side header. Blur is achieved cloning the header and bluring it
 */
header {
    position: fixed;
    top: 0;
    right: 66%;
    bottom: 0;
    left: 0;
    z-index: 2;

    width: 33%;
    margin: 15px;

    text-align: center;

    color: #fff;
    background-image: $bgimg;
    background-repeat: $bgrepeat;
    background-position: $bgpos;
    background-size: $bgsize;

    h1 {
        position: absolute;
        right: 0;
        bottom: 60px;
        left: 0;

        margin: 15px;

        font-size: 4.6vw;

        text-align: center;

        text-shadow: 0 0 15px rgba(0, 0, 0, 1);
    }
    .social {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;

        display: inline-block;
        padding: 20px 0;
        margin: 0;

        font-size: 2.8vw;

        background: rgba(0,0,0,0);
        background:    -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,1)));
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
        background:      -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
        background:     -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
        background:         linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    }

    a {
        color: #fff;
    }

    .fab,
    .fas {
        margin-right: 10px;
        margin-left: 10px;
    }
    .fab:hover,
    .fas:hover {
        color: #ccc;
    }
}
.shadow {
    position: fixed;
    top: 10px;
    right: 66.3%;
    bottom: 5px;
    left: 10px;
    z-index: 1;

    width: 33.7%;
    margin: 0;

    opacity: 1;
    background-image: $bgimg;
    background-repeat: $bgrepeat;
    background-position: $bgpos;
    background-size: $bgsize;

    @include filter(blur(.5em));
}

/*
    MAIN CONTENT
 */
.content {
    position: absolute;
    right: 0;
    left: 35%;

    display: table;
    width: 62%;
    padding: 15px;
    overflow-x: auto;
    overflow-y: hidden;

    a {
        position: relative;

        display: inline-block;

        text-decoration: none;

        color: #1563b2 !important;
    }
    a::after {
        position: absolute;
        bottom: 0;
        left: 0;

        height: 2px;
        width: 100%;

        content: "";
        transition: transform .25s ease-out;
        transform: scaleX(0);
        transform-origin: bottom right;

        background-color: #0087ca;
    }
    a:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    a.active {
        font-weight: bold;
    }

    .section {
        display: table-row;
    }

    .text {
        display: table-cell;
        padding: 12px;

        font-size: 18px;

        color: #3b3b3b;
        .block {
            display: inline-block;
            margin-right: 20px;
        }
        b {
            color: #011730;
        }
    }

    .title {
        display: table-cell;
        width: 160px;
        padding: 12px;

        font-size: 15px;
        font-weight: bold;

        text-align: right;

        color: #c00;

        .emoji {
            font-size: 36px;
        }
    }
}

/*
    RESPONSIVE
 */
@media only screen and (max-width: 600px) {
    /*Same technique as before. This time only ocupies the top part of the screen*/
    header {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 60%;
        left: 0;

        width: 100%;
        margin: 0;

        text-align: center;
        vertical-align: bottom;

        color: #fff;

        h1 {
            position: absolute;
            right: 0;
            bottom: 55px;
            left: 0;

            font-size: 9vw;

            text-align: center;

            @include transition(all 1s ease-in-out 0);
        }
        .social {
            font-size: 9vw;
        }
    }

    .shadow {
        position: absolute;
        top: 10px;
        right: 0;
        bottom: 54%;
        left: 0;

        width: 100%;
        margin: 0;

        opacity: 1;

        @include filter(blur(.5em));
    }

    /* Reposition content */
    .content {
        position: absolute;
        top: 44%;
        right: 0;
        bottom: 0;
        left: -20px;

        width: 102%;
        padding: 0;
        margin: 10px 0;
    }
}
