@font-face {
  font-family: Helvetica-Neue;
  src: url(../assets/helvetica_neue/Regular.ttf);
}
@font-face {
  font-family: Helvetica-Neue;
  src: url(../assets/helvetica_neue/RegularItalic.ttf);
  font-style: italic;
}
@font-face {
  font-family: Helvetica-Neue;
  src: url(../assets/helvetica_neue/Bold.ttf);
  font-weight: 700;
}
body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: Helvetica-Neue;
  transition: all 0.2s ease-in-out 0s;
  color: #212522;
}

a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #d00000;
}
a::after {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  content: "";
  transition: transform 0.25s ease-out;
  transform: scaleX(0);
  transform-origin: bottom right;
  background-color: #d00000;
}
a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

header {
  position: fixed;
  top: 0;
  right: 66%;
  bottom: 0;
  left: 0;
  z-index: 5;
  width: 33%;
  margin: 15px;
  text-align: center;
  color: #fff;
  background: #212522;
  background-image: url(../assets/images/header.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-image 0.5s;
}
header h1 {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 30px 40px;
  margin: 0;
  background: rgba(0, 0, 0, 0);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.7) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.7)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.7) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.7) 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.7) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.7) 100%);
  font-size: 4.6vw;
  font-family: Helvetica-Neue;
  text-align: left;
  z-index: 2;
}
header #fade {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.5s;
  z-index: 3;
}
header img {
  transition: all 0.5s ease-in-out;
  width: 50%;
  z-index: 4;
}
header a {
  color: #fff;
}

.background-block {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #e6e8e6;
  margin: 120px 20px 30px 20px;
}
.background-block.white {
  background: #fff;
}
.background-block.top {
  z-index: 4;
  bottom: unset;
  height: 120px;
  margin: 0;
}
.background-block.bottom {
  z-index: 4;
  top: unset;
  height: 30px;
  margin: 0;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 35%;
  z-index: 5;
  margin: 15px;
  background: #e6e8e6;
  padding: 15px;
  text-align: center;
  font-size: 24px;
}
.menu a {
  margin: 0 15px;
  font-weight: 700;
  color: #212522;
  text-decoration: none;
}
.menu a::after {
  background-color: #212522;
}
.menu a.active::after {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  content: "";
  transition: transform 0.25s ease-out;
  transform: scaleX(1);
  transform-origin: bottom right;
  background-color: #212522;
}

.content {
  position: absolute;
  right: 0;
  top: 120px;
  left: 35%;
  width: 60%;
  padding: 15px;
  padding-bottom: 40px;
  overflow-x: auto;
  overflow-y: hidden;
}
.content h1 {
  font-size: 4.6vw;
  margin: 15px;
}
.content.landing .social {
  font-size: 2vw;
  margin: 15px;
}
.content.landing .social .link {
  display: block;
  margin-bottom: 20px;
}
.content.landing .presentation {
  font-size: 2vw;
  margin: 15px;
}
.content.projects .list {
  font-size: 2vw;
  margin: 15px;
}
.content.projects .list .item {
  display: block;
  margin-bottom: 10px;
}
.content.projects .list .item span {
  display: block;
  font-size: 1.5vw;
}
.content.project-info {
  font-size: 2vw;
  margin: 15px;
}
.content.project-info p {
  font-size: 1.5vw;
}
.content.project-info img {
  width: 100%;
}
.content.project-info h1 {
  font-size: 3vw;
  margin: 0;
}
.content.project-info h2 {
  font-size: 2.6vw;
  margin: 0;
}
.content.project-info h3 {
  font-size: 2.2vw;
  margin: 0;
}
.content.project-info .links {
  font-size: 1.8vw;
}
.content.project-info .links .link {
  display: block;
  margin-top: 10px;
}
.content.project-info .links .fab, .content.project-info .links .fas {
  width: 25px;
  text-align: center;
}

.toggle {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 20px;
  font-size: 30px;
  color: #111;
}
.toggle #day {
  height: 32px;
  display: none;
}
.toggle #night {
  height: 32px;
  display: inline;
}

@media only screen and (max-width: 600px) {
  header {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 60%;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: center;
    vertical-align: bottom;
    color: #fff;
  }
  header h1 {
    position: absolute;
    right: 0;
    bottom: 60px;
    left: 0;
    font-size: 9vw;
    text-align: center;
    -webkit-transition: all 1s ease-in-out 0;
    transition: all 1s ease-in-out 0;
  }
  header .social img {
    height: 10vw;
  }

  .content {
    position: absolute;
    top: 42%;
    right: 0;
    bottom: 0;
    left: -20px;
    width: 102%;
    padding: 0;
    margin: 10px 0;
  }
}

/*# sourceMappingURL=style.css.map */
