html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
  transition: all 0.2s ease-in-out 0s;
  color: #111;
  background: #aaaaaa;
  background: -moz-linear-gradient(left, #aaaaaa 0%, white 70%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #aaaaaa), color-stop(70%, white));
  background: -webkit-linear-gradient(left, #aaaaaa 0%, white 70%);
  background: -o-linear-gradient(left, #aaaaaa 0%, white 70%);
  background: -ms-linear-gradient(left, #aaaaaa 0%, white 70%);
  background: linear-gradient(to right, #aaaaaa 0%, white 70%);
}

html.dark,
body.dark {
  color: #f1f1f1;
  background: #aaaaaa;
  background: -moz-linear-gradient(left, #010101 0%, #212121 45%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #010101), color-stop(70%, #212121));
  background: -webkit-linear-gradient(left, #010101 0%, #212121 45%);
  background: -o-linear-gradient(left, #010101 0%, #212121 45%);
  background: -ms-linear-gradient(left, #010101 0%, #212121 45%);
  background: linear-gradient(to right, #010101 0%, #212121 45%);
}
html.dark .content .title,
body.dark .content .title {
  color: #ff851b;
}
html.dark .content .text,
body.dark .content .text {
  color: #ddd;
}
html.dark .content .text b,
body.dark .content .text b {
  color: #f1f1f1;
}
html.dark .content a,
body.dark .content a {
  color: #70bfff;
}
html.dark .content a::after,
body.dark .content a::after {
  background-color: #70bfff;
}
html.dark .toggle,
body.dark .toggle {
  color: #ddd;
}
html.dark .toggle #day,
body.dark .toggle #day {
  height: 32px;
  display: inline;
}
html.dark .toggle #night,
body.dark .toggle #night {
  height: 32px;
  display: none;
}

/*
    HEADER
        Side header. Blur is achieved cloning the header and bluring it
 */
header {
  position: fixed;
  top: 0;
  right: 66%;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 33%;
  margin: 15px;
  text-align: center;
  color: #fff;
  background-image: url("../images/header.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
header h1 {
  position: absolute;
  right: 0;
  bottom: 60px;
  left: 0;
  margin: 15px;
  font-size: 4.6vw;
  text-align: center;
  text-shadow: 0 0 15px black;
}
header .social {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  padding: 20px 0;
  margin: 0;
  font-size: 2.8vw;
  background: rgba(0, 0, 0, 0);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, black 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, black));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, black 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, black 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, black 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 100%);
}
header .social img {
  filter: brightness(0) invert(0.9);
  margin-right: 10px;
  margin-left: 10px;
  height: 3.8vw;
  border-radius: 15px;
}
header .social img:hover {
  filter: none;
}
header a {
  color: #fff;
}

.shadow {
  position: fixed;
  top: 10px;
  right: 66.3%;
  bottom: 5px;
  left: 10px;
  z-index: 1;
  width: 33.7%;
  margin: 0;
  opacity: 1;
  background-image: url("../images/header.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  -webkit-filter: blur(0.5em);
  -moz-filter: blur(0.5em);
  -ms-filter: blur(0.5em);
  -o-filter: blur(0.5em);
  filter: blur(0.5em);
}

/*
    MAIN CONTENT
 */
.dark .content a {
  color: #70bfff;
}

.dark .content a::after {
  background-color: #70bfff;
}

.content {
  position: absolute;
  right: 0;
  left: 35%;
  display: table;
  width: 62%;
  padding: 15px;
  overflow-x: auto;
  overflow-y: hidden;
}
.content a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #1978d7;
}
.content a::after {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  content: "";
  transition: transform 0.25s ease-out;
  transform: scaleX(0);
  transform-origin: bottom right;
  background-color: #1978d7;
}
.content a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.content a.active {
  font-weight: bold;
}
.content .section {
  display: table-row;
}
.content .text {
  display: table-cell;
  padding: 12px;
  font-size: 18px;
  color: #111;
}
.content .text .block {
  display: inline-block;
  margin-right: 20px;
}
.content .text b {
  color: #111;
}
.content .title {
  display: table-cell;
  width: 160px;
  padding: 12px;
  font-size: 15px;
  font-weight: bold;
  text-align: right;
  color: #c00;
}
.content .title .emoji {
  font-size: 36px;
}

.toggle {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 20px;
  font-size: 30px;
  color: #111;
}
.toggle #day {
  height: 32px;
  display: none;
}
.toggle #night {
  height: 32px;
  display: inline;
}

/*
    RESPONSIVE
 */
@media only screen and (max-width: 600px) {
  /*Same technique as before. This time only ocupies the top part of the screen*/
  header {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 60%;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: center;
    vertical-align: bottom;
    color: #fff;
  }
  header h1 {
    position: absolute;
    right: 0;
    bottom: 60px;
    left: 0;
    font-size: 9vw;
    text-align: center;
    -webkit-transition: all 1s ease-in-out 0;
    transition: all 1s ease-in-out 0;
  }
  header .social img {
    height: 10vw;
  }

  .shadow {
    position: absolute;
    top: 10px;
    right: 0;
    bottom: 59%;
    left: 0;
    width: 100%;
    margin: 0;
    opacity: 1;
    -webkit-filter: blur(0.5em);
    -moz-filter: blur(0.5em);
    -ms-filter: blur(0.5em);
    -o-filter: blur(0.5em);
    filter: blur(0.5em);
  }

  /* Reposition content */
  .content {
    position: absolute;
    top: 42%;
    right: 0;
    bottom: 0;
    left: -20px;
    width: 102%;
    padding: 0;
    margin: 10px 0;
  }
}
