@-webkit-keyframes fade-in {
  0% {
    opacity: 1; }
  100% {
    opacity: 1; } }
@-moz-keyframes fade-in {
  0% {
    opacity: 1; }
  100% {
    opacity: 1; } }
@-o-keyframes fade-in {
  0% {
    opacity: 1; }
  100% {
    opacity: 1; } }
@keyframes fade-in {
  0% {
    opacity: 1; }
  100% {
    opacity: 1; } }
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #fff; }

header {
  position: fixed;
  top: 0;
  right: 66%;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 33%;
  margin: 15px;
  text-align: center;
  color: #fff;
  background-image: url("header.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; }
  header h1 {
    position: absolute;
    bottom: 0;
    margin: 15px;
    font-size: 4.6vw;
    text-align: center; }
  header a {
    color: #fff; }

.shadow {
  position: fixed;
  top: 10px;
  right: 66.3%;
  bottom: 5px;
  left: 10px;
  z-index: 1;
  width: 33.7%;
  margin: 0;
  opacity: 1;
  background-image: url("header.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  -webkit-filter: blur(0.5em);
  -moz-filter: blur(0.5em);
  -ms-filter: blur(0.5em);
  -o-filter: blur(0.5em);
  filter: blur(0.5em); }

.fab {
  margin-right: 10px;
  margin-left: 10px; }

.fa-twitter:hover {
  color: #00aced; }

.fa-reddit:hover {
  padding-right: .5px;
  padding-left: .5px;
  color: #ff4301;
  background-color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%; }

.fa-linkedin:hover {
  color: #0077b5; }

.fa-github:hover {
  padding-right: .5px;
  padding-left: .5px;
  color: #211f1f;
  background-color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%; }

.fa-map-marker {
  color: #f00; }

.content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 36%;
  margin: 10px; }
  .content a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #1976d2; }
  .content a::after {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    content: "";
    transition: transform .25s ease-out;
    transform: scaleX(0);
    transform-origin: bottom right;
    background-color: #0087ca; }
  .content a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left; }
  .content h1 {
    font-size: 1.3em; }
  .content section {
    margin: 50px 0 20px 0; }
    .content section .separator {
      margin-top: 10px;
      margin-bottom: 10px;
      color: #fff; }
    .content section .title {
      height: 1px;
      width: 100%;
      margin-top: 24px;
      margin-right: 30px;
      text-align: left;
      background-color: #2c3e50; }
      .content section .title h1 {
        position: relative;
        top: -13px;
        display: inline;
        padding: 0 20px 0 0;
        font-size: 1.2em;
        color: #2c3e50;
        background-color: #fff; }
    .content section .location {
      margin: 10px 0 10px 30px; }
      .content section .location .fa-layers {
        position: absolute;
        margin: 25px 0 0 0; }
      .content section .location .info {
        display: inline-block;
        margin: 5px 0 0 100px; }
    .content section .icon {
      margin: 10px 0 10px 30px; }
      .content section .icon img {
        position: absolute; }
      .content section .icon .info {
        display: inline-block;
        margin: 5px 0 0 100px; }
    .content section p {
      margin: 16px 0 0 20px;
      font-weight: 700;
      text-align: left; }
    .content section .skill {
      display: inline-block;
      height: 32px;
      width: 256px;
      margin: 10px;
      line-height: 33px;
      text-align: center;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      -o-border-radius: 2px;
      border-radius: 2px;
      -webkit-box-shadow: 0px 0px 10px #aaa;
      -moz-box-shadow: 0px 0px 10px #aaa;
      -ms-box-shadow: 0px 0px 10px #aaa;
      -o-box-shadow: 0px 0px 10px #aaa;
      box-shadow: 0px 0px 10px #aaa; }
      .content section .skill span {
        padding: 3px;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.5);
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
        border-radius: 2px; }
    .content section .skill.red-low {
      background: #e53935;
      background: -moz-linear-gradient(left, #e53935 0%, #d32f2f 33%, #fff 33%, #fff 100%);
      background: -webkit-linear-gradient(left, #e53935 0%, #d32f2f 33%, #fff 33%, #fff 100%);
      background: linear-gradient(to right, #e53935 0%, #d32f2f 33%, #fff 33%, #fff 100%); }
    .content section .skill.red-medium {
      background: #e53935;
      background: -moz-linear-gradient(left, #e53935 0%, #c62828 66%, #fff 66%, #fff 100%);
      background: -webkit-linear-gradient(left, #e53935 0%, #c62828 66%, #fff 66%, #fff 100%);
      background: linear-gradient(to right, #e53935 0%, #c62828 66%, #fff 66%, #fff 100%); }
    .content section .skill.red-high {
      background: #e53935;
      background: -moz-linear-gradient(left, #e53935 0%, #b71c1c 100%);
      background: -webkit-linear-gradient(left, #e53935 0%, #b71c1c 100%);
      background: linear-gradient(to right, #e53935 0%, #b71c1c 100%); }
    .content section .skill.green-low {
      background: #43a047;
      background: -moz-linear-gradient(left, #43a047 0%, #388e3c 33%, #fff 33%, #fff 100%);
      background: -webkit-linear-gradient(left, #43a047 0%, #388e3c 33%, #fff 33%, #fff 100%);
      background: linear-gradient(to right, #43a047 0%, #388e3c 33%, #fff 33%, #fff 100%); }
    .content section .skill.green-medium {
      background: #43a047;
      background: -moz-linear-gradient(left, #43a047 0%, #2e7d32 66%, #fff 66%, #fff 100%);
      background: -webkit-linear-gradient(left, #43a047 0%, #2e7d32 66%, #fff 66%, #fff 100%);
      background: linear-gradient(to right, #43a047 0%, #2e7d32 66%, #fff 66%, #fff 100%); }
    .content section .skill.green-high {
      background: #43a047;
      background: -moz-linear-gradient(left, #43a047 0%, #1b5e20 100%);
      background: -webkit-linear-gradient(left, #43a047 0%, #1b5e20 100%);
      background: linear-gradient(to right, #43a047 0%, #1b5e20 100%); }
    .content section .skill.orange-low {
      background: #fb8c00;
      background: -moz-linear-gradient(left, #fb8c00 0%, #f57c00 33%, #fff 33%, #fff 100%);
      background: -webkit-linear-gradient(left, #fb8c00 0%, #f57c00 33%, #fff 33%, #fff 100%);
      background: linear-gradient(to right, #fb8c00 0%, #f57c00 33%, #fff 33%, #fff 100%); }
    .content section .skill.orange-medium {
      background: #fb8c00;
      background: -moz-linear-gradient(left, #fb8c00 0%, #ef6c00 66%, #fff 66%, #fff 100%);
      background: -webkit-linear-gradient(left, #fb8c00 0%, #ef6c00 66%, #fff 66%, #fff 100%);
      background: linear-gradient(to right, #fb8c00 0%, #ef6c00 66%, #fff 66%, #fff 100%); }
    .content section .skill.orange-high {
      background: #fb8c00;
      background: -moz-linear-gradient(left, #fb8c00 0%, #e65100 100%);
      background: -webkit-linear-gradient(left, #fb8c00 0%, #e65100 100%);
      background: linear-gradient(to right, #fb8c00 0%, #e65100 100%); }
    .content section .skill.blue-low {
      background: #1e88e5;
      background: -moz-linear-gradient(left, #1e88e5 0%, #1976d2 33%, #fff 33%, #fff 100%);
      background: -webkit-linear-gradient(left, #1e88e5 0%, #1976d2 33%, #fff 33%, #fff 100%);
      background: linear-gradient(to right, #1e88e5 0%, #1976d2 33%, #fff 33%, #fff 100%); }
    .content section .skill.blue-medium {
      background: #1e88e5;
      background: -moz-linear-gradient(left, #1e88e5 0%, #1565c0 66%, #fff 66%, #fff 100%);
      background: -webkit-linear-gradient(left, #1e88e5 0%, #1565c0 66%, #fff 66%, #fff 100%);
      background: linear-gradient(to right, #1e88e5 0%, #1565c0 66%, #fff 66%, #fff 100%); }
    .content section .skill.blue-high {
      background: #1e88e5;
      background: -moz-linear-gradient(left, #1e88e5 0%, #0d47a1 100%);
      background: -webkit-linear-gradient(left, #1e88e5 0%, #0d47a1 100%);
      background: linear-gradient(to right, #1e88e5 0%, #0d47a1 100%); }
    .content section .skill.pink-low {
      background: #ec407a;
      background: -moz-linear-gradient(left, #ec407a 0%, #e91e63 33%, #fff 33%, #fff 100%);
      background: -webkit-linear-gradient(left, #ec407a 0%, #e91e63 33%, #fff 33%, #fff 100%);
      background: linear-gradient(to right, #ec407a 0%, #e91e63 33%, #fff 33%, #fff 100%); }
    .content section .skill.pink-medium {
      background: #ec407a;
      background: -moz-linear-gradient(left, #ec407a 0%, #d81b60 66%, #fff 66%, #fff 100%);
      background: -webkit-linear-gradient(left, #ec407a 0%, #d81b60 66%, #fff 66%, #fff 100%);
      background: linear-gradient(to right, #ec407a 0%, #d81b60 66%, #fff 66%, #fff 100%); }
    .content section .skill.pink-high {
      background: #ec407a #ec407a;
      background: -moz-linear-gradient(left, #ec407a 0%, #c2185b 100%);
      background: -webkit-linear-gradient(left, #ec407a 0%, #c2185b 100%);
      background: linear-gradient(to right, #ec407a 0%, #c2185b 100%); }
    .content section .skill.yellow-low {
      background: #ffee58;
      background: -moz-linear-gradient(left, #ffee58 0%, #ffeb3b 33%, #fff 33%, #fff 100%);
      background: -webkit-linear-gradient(left, #ffee58 0%, #ffeb3b 33%, #fff 33%, #fff 100%);
      background: linear-gradient(to right, #ffee58 0%, #ffeb3b 33%, #fff 33%, #fff 100%); }
    .content section .skill.yellow-medium {
      background: #ffee58;
      background: -moz-linear-gradient(left, #ffee58 0%, #ff0 66%, #fff 66%, #fff 100%);
      background: -webkit-linear-gradient(left, #ffee58 0%, #ff0 66%, #fff 66%, #fff 100%);
      background: linear-gradient(to right, #ffee58 0%, #ff0 66%, #fff 66%, #fff 100%); }
    .content section .skill.yellow-high {
      background: #ffee58;
      background: -moz-linear-gradient(left, #ffee58 0%, #ffea00 100%);
      background: -webkit-linear-gradient(left, #ffee58 0%, #ffea00 100%);
      background: linear-gradient(to right, #ffee58 0%, #ffea00 100%); }
    .content section .skill.black-low {
      background: #bdbdbd;
      background: -moz-linear-gradient(left, #bdbdbd 0%, #9e9e9e 33%, #fff 33%, #fff 100%);
      background: -webkit-linear-gradient(left, #bdbdbd 0%, #9e9e9e 33%, #fff 33%, #fff 100%);
      background: linear-gradient(to right, #bdbdbd 0%, #9e9e9e 33%, #fff 33%, #fff 100%); }
    .content section .skill.black-medium {
      background: #bdbdbd;
      background: -moz-linear-gradient(left, #bdbdbd 0%, #757575 66%, #fff 66%, #fff 100%);
      background: -webkit-linear-gradient(left, #bdbdbd 0%, #757575 66%, #fff 66%, #fff 100%);
      background: linear-gradient(to right, #bdbdbd 0%, #757575 66%, #fff 66%, #fff 100%); }
    .content section .skill.black-high {
      background: #bdbdbd;
      background: -moz-linear-gradient(left, #bdbdbd 0%, #424242 100%);
      background: -webkit-linear-gradient(left, #bdbdbd 0%, #424242 100%);
      background: linear-gradient(to right, #bdbdbd 0%, #424242 100%); }
    .content section #recaptcha {
      display: inline-block;
      margin: 16px 0 30px 20px;
      text-align: center; }

@media only screen and (max-width: 600px) {
  header {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 60%;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: center;
    vertical-align: bottom;
    color: #fff; }
    header img {
      left: 0;
      display: none;
      height: 100%;
      width: auto; }
    header h1 {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      font-size: 6.5vw;
      text-align: center;
      -webkit-transition: all 1s ease-in-out 0;
      transition: all 1s ease-in-out 0; }

  .shadow {
    position: fixed;
    top: 10px;
    right: 0;
    bottom: 59%;
    left: 0;
    width: 100%;
    margin: 0;
    opacity: 1;
    -webkit-filter: blur(0.5em);
    -moz-filter: blur(0.5em);
    -ms-filter: blur(0.5em);
    -o-filter: blur(0.5em);
    filter: blur(0.5em); }

  .content {
    position: absolute;
    top: 42%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 10px; } }

/*# sourceMappingURL=styles.css.map */
